rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Public read for website images and uploads
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated() &&
                      request.resource.size < 15 * 1024 * 1024 &&
                      request.resource.contentType.matches('image/.*');
    }
  }
}
